<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lime.amwant">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainLoginTypeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainMenuActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.SampleLoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.SampleSignupActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.AssemblymenListActivity"
            android:launchMode="singleTask"
            android:theme="@style/AssTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.AssemblymanActivity"
            android:launchMode="singleTask"
            android:theme="@style/AssTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.BillListActivity"
            android:launchMode="singleTask"
            android:theme="@style/BillTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.HallOfFameActivity"
            android:launchMode="singleTask"
            android:theme="@style/HallTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.PublicOpinionsActivity"
            android:launchMode="singleTask"
            android:theme="@style/PublicTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.MypageActivity"
            android:launchMode="singleTask"
            android:theme="@style/MypageTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activity.WASignupActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

    </application>

</manifest>
